<a href="https://colab.research.google.com/github/jamg-upv/CAHOS19/blob/main/intento1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importo los csv y arreglo cabeceras

In [ ]:
import pandas as pd
from datetime import datetime
import datetime as dt

direccion1="https://raw.githubusercontent.com/jamg-upv/CAHOS19/main/inputtables/SIP_dep.csv"
direccion2="https://raw.githubusercontent.com/jamg-upv/CAHOS19/main/inputtables/CAMAS_UCI.csv"
direccion0="https://raw.githubusercontent.com/jamg-upv/CAHOS19/main/inputtables/Cahos19-borrador-datos%20necesaariosShared-bloque1.csv"
bloque1=pd.read_csv(direccion0, delimiter=';')
bloque1.columns=['sexo', 'rango_edad', 'hospital', 'fecha_ingreso_HOSP', 'fecha_ingreso_UCI', 'fecha_alta_UCI', 'fecha_alta_HOSP', 'recup_exitus', 'unnamed','borrar']
bloque1.drop(['borrar'], axis=1)
SIP_dep=pd.read_csv(direccion1, delimiter=';')
CAMAS_UCI=pd.read_csv(direccion2, delimiter=';')

bloque1.dtypes

sexo                   object
rango_edad             object
hospital               object
fecha_ingreso_HOSP     object
fecha_ingreso_UCI      object
fecha_alta_UCI         object
fecha_alta_HOSP        object
recup_exitus           object
unnamed               float64
borrar                float64
dtype: object

In [ ]:
import pandas as pd
from datetime import datetime, timedelta

direccion1="https://raw.githubusercontent.com/jamg-upv/CAHOS19/main/inputtables/SIP_dep.csv"
direccion2="https://raw.githubusercontent.com/jamg-upv/CAHOS19/main/inputtables/CAMAS_UCI.csv"
direccion0="https://raw.githubusercontent.com/jamg-upv/CAHOS19/main/inputtables/casos_hosp_uci_def_sexo_edad_provres-2.csv"
b1=pd.read_csv(direccion0, delimiter=',')
SIP_dep=pd.read_csv(direccion1, delimiter=';')
CAMAS_UCI=pd.read_csv(direccion2, delimiter=';') #Hasta aquí lo que hace es leer los distintos archivos

b1['fecha'] = pd.to_datetime(b1['fecha'], format="%Y-%m-%d") #Se convierte la columna de fechas a formato fechas


b11=b1.drop(b1[b1['provincia_iso']!='V'].index)
b12=b1.drop(b1[b1['provincia_iso']!='A'].index)
b13=b1.drop(b1[b1['provincia_iso']!='CS'].index) #en estas tres columnas se separa lo que nos interesa: lasa tres provincias de la CV
bloque1=pd.concat([b11,b12,b13]) #Aquí se vuelven a juntar solo las tres en un solo dataframe
bloque1

       provincia_iso sexo grupo_edad  ... num_hosp  num_uci  num_def
1440               V    H        0-9  ...        0        0        0
1441               V    H      10-19  ...        0        0        0
1442               V    H      20-29  ...        0        0        0
1443               V    H      30-39  ...        0        0        0
1444               V    H      40-49  ...        0        0        0
...              ...  ...        ...  ...      ...      ...      ...
781135            CS   NC      50-59  ...        0        0        0
781136            CS   NC      60-69  ...        0        0        0
781137            CS   NC      70-79  ...        0        0        0
781138            CS   NC        80+  ...        0        0        0
781139            CS   NC         NC  ...        0        0        0

[44280 rows x 8 columns]